//文章摘要配图
//图片外部的容器方框，限制图片大小
.out-img-topic {
  display: block;
  max-height:500px;
  margin-bottom: 24px;
  overflow: hidden;
}
//图片
img.img-topic {
  display: block ;
  margin-left: .7em;
  margin-right: .7em;
  padding: 0;
  float: right;
  clear: right;
}
