// Custom styles.
 .post {
   margin-top: 60px;
   margin-bottom: 60px;
   padding: 25px;
   -webkit-box-shadow: 5px 5px 40px 0px rgba(204,204,204,0.5);
   -moz-box-shadow: 5px 5px 40px 0px rgba(204,204,204,0.5);
  }
